<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connSQLServer"
			 connectionString="Data Source=DESKTOP-TLT5FL7\SQLEXPRESS,1433;Initial Catalog=TestDB;user id=rlemus;password=root"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>